article section:nth-of-type(4) {
  padding: 40px 27px 0px !important;
}
article section:nth-of-type(4) .title {
  text-align: right;
}
article section:nth-of-type(4) .title a {
  font-size: 18px;
  color: #009ea7;
}
article section:nth-of-type(4) .box {
  padding: 16px 0 35px;
  border-bottom: 1px dotted #cccccc;
}
article section:nth-of-type(4) .box .name a {
  font-size: 16px;
  color: #333;
}
article section:nth-of-type(4) .box .name:hover a {
  color: #009ea7;
}
article section:nth-of-type(4) .box .name span {
  font-size: 12px;
  color: #666666;
}
article section:nth-of-type(4) .box p {
  font-size: 12px;
  color: #666666;
  line-height: 16px;
  margin-top: 10px;
}
article section:nth-of-type(4) .box .footer {
  text-align: right;
}
article section:nth-of-type(4) .box .footer a {
  font-size: 12px;
  color: #009ea7;
  margin-top: 8px;
}
article section:nth-of-type(4) .box:last-of-type {
  border-bottom: none;
}
